.container__perguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4.5em;
    height: 100vh;
}

.container__post-it{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;
    justify-content: space-evenly;
}


.post-it__pergunta{
    height: 17em;
    width:17em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    font-size: 20px;
}

.primeiro{
    background-color: #C6D8F0;
}

.segundo{
    background-color: #C4F9FF;
}

.terceiro{
    background-color: #CCFF99;
}

.quarto{
    background-color: #B0E0E6;
}

.post-it__texto{
    font-weight: bold;
}

.pergunta__titulo{
    font-size: 48px;
    color: var(--verde);
    font-weight: 500;
    margin: 40px;
}