.direita .content .text {
  font-size: 1.06rem;
  font-weight: 500;
  margin: 12px 0 8px 0;
}

.esquerda form .text {
  font-size: 1.0625rem;
  margin: 12px 0 8px 0;
  color: #888888;
}

.esquerda form .msg {
  margin-top: 10px;
}

.esquerda form input,
.esquerda form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}

.esquerda form input {
  height: 35px;
}

.esquerda form .btn-submit {
  margin-top: 10px;
}

.esquerda form .btn-submit button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--azul);
  color: var(--branco);
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.esquerda form .btn-submit button:hover {
  background: #000;
}

