.container__contato{
    height: 100vh;
    width: 100vw;
}

.contato__titulo{
    font-size: 40px;
    color: var(--verde);
    font-weight: 500;
    margin: 40px;
}

.container__contato-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px;
}

.container__contato-input label{
    color: var(--preto);
    font-size: 25px;
}

.container__contato-input input, textarea{
    background-color: var(--cinza);
    font-size: 25px;
    border: none;
    padding: 12px;
    resize: none;
}

textarea{
    height: 150px;
}