.integrantes__titulo{
    font-size: 40px;
    color: var(--azul-claro);
    font-weight: 500;
    margin: 48px;
}

.integrantes__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4em;
}

.integrantes{
    display: flex;
    gap: 12em;
    margin-bottom: 3em;
}

.aluno{
    width: 21em;
    height: 29em;
}

.github{
    width: 4.5em;
    margin: 5px 0 0 10px;
}

.informacoes__integrantes p{
    font-size: 18px;
    margin: 0.5em 0 0 5px;
    font-weight: 400;
}

.informacoes__integrantes{
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid #0000b4d3;
    border-radius: 16px;
    padding: 1em
}